# See README.md for details.

INSTAGRAM_TOKEN=EJVaXdia0FiN...
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Replace urls below with your own domain & socials
NEXT_PUBLIC_DOMAIN=www.thedreamynails.com
NEXT_PUBLIC_WEBSITE_HOMEPAGE=https://www.thedreamynails.com/
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/thedreamynails/
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/thedreamynails_/